body{
    color:#800020;
    background-color:white;
}
.navbar{
  position: sticky !important;
  z-index: 1;
  box-shadow: 10px 5px 5px rgb(223, 223, 223);
}
.navbar-brand-titleOne {
    color: #800020;
    margin-left: 0.5vw;
    margin-right: 40vw;
    font-size: 1.5vw;
  }
  .mybar{
    margin-left: 20vw;
  }
  .nav-link{
      color:#800020;
  }
  .nav-item-new{
    margin: 2vw 0vw 1vw 0vw;
    width:10vw;
    color:#800020;
  } 
  .my-nav-bar{
      padding: 0vw !important;
      background-color: #fff5eb;
      /* position: sticky;
      position:fixed; */
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
  }
  .select-options{
      margin:0vw;
      padding:0vw;
      height:2.5vw;
  }
  .linkOption{
    background-color:white;
    font-weight: bolder;
    font-size:larger;
    color:#800020;
    width:20vw;
    margin:3vw 0vw 0vw 5vw;
    text-align: center;
  }
  .linkOption:hover{
    background-color: white;
  }
  .linkOption-one{
    background-color:white;
    font-weight: bold;
    font-size:larger;
    color:#800020;
    width:20vw;
    margin:2vw 0vw 0vw 5vw;
    margin-top: 12vw;
    text-align: center;
  }
  .search-form-input{
     /* border-radius: 2vw; */
     /* border:0.1px solid rgb(192, 192, 192); */
      color:#800020;
      height: 2vw !important;
      display:inline-block;
  }
  .search-form-btn{
    height:2vw;
    padding: 0vw;
  }