.stars-background {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  .stars-background::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    color: #f8ce0b;
    /* color: black; */
    color:#800020
  }
  .fa-stars {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 86%;
  }
  .fa-stars::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
    color:#800020
    /* color: black; */
  }