@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,800&display=swap');

body{
    /* background-color:#FFFFF5; */
    background-color: white;
    font-family: 'Piazzolla', serif;
}
